[submodule "components/esp-dsp"]
	path = components/esp-dsp
	url = https://github.com/espressif/esp-dsp
[submodule "components/flac/flac"]
	path = components/flac/flac
	url = https://github.com/xiph/flac.git
[submodule "external/bell"]
	path = external/bell
	url = https://github.com/fherrera124/bell.git
	branch = dev
